<div class="page-header">
    <h1> Tweet <small> Start tweeting now</small></h1>
</div>

<%= form_for @tweet do |f| %>
	<%= f.text_area :body %>
	<%= f.submit "Tweet", class: 'btn btn-primary' %>
<% end %>