<div class="page-header">
    <h1> Twerk<small> Start twerking now</small></h1>
</div>

<%= form_for @tweet do |f| %>
	<%= f.text_area :body %>
	<%= f.submit "Twerk", class: 'btn btn-primary' %>
<% end %>